.vs-table-container {
  border: 1px solid #c8ccce;
  border-radius: 3px;
  padding: 1.6rem;
  margin: 0 0 3.2rem;
}

.vs-table-container .vs-table {
	margin-bottom: 0;
}

.vs-table-title {
  font-weight: 500;
  font-size: 1.6rem;
  border-bottom: 0px solid #c8ccce;
  margin-bottom: 0.8rem;
}

.vs-table {
  border-collapse: collapse;
  text-align: left;
  margin: 0 0 3.2rem;
  width: 100%;
}

.vs-table:last-child {
	margin-bottom: 0;
}

.vs-table > tbody > tr:hover {
  background-color: #fafafa;
 }

.vs-tbody {
}

.vs-tfoot {
}

.vs-row {
}

.vs-thead .vs-cell {
  border-bottom: 1px solid #c8ccce;
  font-size: 1.3rem;
}

.vs-tfoot .vs-cell {
  border-top: 1px solid #c8ccce;
  font-size: 1.3rem;
}


.vs-cell {
  border-top: 1px solid #eee;
  vertical-align: top;
  padding: 4px;
  margin: 0;
}

.vs-cell-right {
  text-align: right;
}

.vs-cell-center {
  text-align: center;
}
.vs-cell-nowrap {
  white-space: nowrap;
}

@media (max-width: 600px) {
  .vs-cell {
    max-width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .vs-cell:first-child {
    max-width: 100px;
  }
}
