/* forms.css */

input, textarea {
  width: 206px;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #eee;
}

label {
  font-weight: inherit;
  display: block;
}

select {
  width: 220px;
  background-color: #fff;
  border: 1px solid #ccc;
  height: 30px;
  line-height: 30px;
  padding: 3px;
  margin-bottom: 5px;
}

.dropdown-selected-label {
  border-right: 1px solid #E4E4E4;
  padding-right: 12px;
}

textarea,
input[type="file"],
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 9px;
    font-size: 12px;
    line-height: 20px;
}

textarea, input,
iframe, input[type="file"],
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border: 1px solid #DDD;
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.09);
}

select,
textarea,
input,
input[type="file"],
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border-radius: 0;
  color: #6d6e70;
}

textarea:focus,
input:focus,
input[type="file"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus, .form-control:focus {
  outline: none;
  outline: thin dotted  9;
  border: 1px solid rgba(0, 175, 102, 0.75);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(0, 175, 102, 0.4);
}

input[type="checkbox"],
input[type="radio"] {
  border: 0;
  box-shadow: 0;
}

fieldset p {
  position: relative;
  display: block;
  overflow: hidden;
}

p > label  {
  float: left;
  padding: 0 0 0 18px;
}
