/* global button styles */

.vs-btn-d {
  background-color: transparent;
  border: 1px solid transparent;
  border-collapse: separate;
  border-radius: 3px;
  box-shadow: none;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 1.2;
  margin: 0 4px; 
  min-height: 32px;
  min-width: 32px;
  overflow: hidden;
  padding: 4px 12px;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  transition: 0.2s all ease-in-out;
  vertical-align: middle;
  width: auto;
}

.vs-btn-d:focus,
a.vs-btn-d:focus {
  outline: none;
}

/* CJ Button - primary styles*/
.vs-default-btn {
  border: 1px solid #b6b6b6;
  color: #b6b6b6;
}

.vs-primary-btn {
  border: 1px solid #49c5b1;
  color: #49c5b1;
}

.vs-info-btn {
  border: 1px solid #34657f;
  color: #34657f;
}

.vs-danger-btn {
  border: 1px solid #e1523d;
  color: #e1523d;
}

.vs-warning-btn {
  border: 1px solid #ffb500;
  color: #ffb500;
}

.vs-success-btn {
  border: 1px solid #49c5b1;
  color: #49c5b1;
}

.vs-default-btn,
.vs-primary-btn,
.vs-info-btn,
.vs-danger-btn,
.vs-warning-btn,
.vs-success-btn {
  background: #ffffff;
  box-sizing: border-box;
  outline: none;
}

.vs-solid-primary-btn {
  background: #49c5b1;
  border: 1px solid #49c5b1;
  color: #ffffff;
}

a.vs-btn-d:hover,
.vs-btn-d a:hover {
  text-decoration: none;
}

.vs-default-btn:hover {
  background: rgba(133, 133, 133, 0.1);
  box-shadow: none;
}

.vs-primary-btn:hover {
  background: rgba(0, 175, 102, 0.1);
  box-shadow: none;
}

.vs-info-btn:hover {
  background: rgba(52, 101, 127, 0.1);
  box-shadow: none;
}

.vs-danger-btn:hover {
  background: rgba(221, 56, 52, 0.1);
  box-shadow: none;
}

.vs-warning-btn:hover {
  background: rgba(255, 181, 20, 0.1);
  box-shadow: none;
}

.vs-success-btn:hover {
  background: rgba(73, 197, 177, 0.1);
  box-shadow: none;
}

/* Platform Buttons */

.vs-btn-d svg {
  fill: #979C9F;
  transition: 0.2s all ease-in-out;
  vertical-align: middle;
}

.vs-btn-d:hover svg {
  fill: #4D5051;
}

.vs-solid-primary-btn {
  background-color: #49c5b1;
  background-position: center;
  color: #fff;
  transition: background 0.4s;
}

.vs-solid-primary-btn:hover {
  background: #14AB93 radial-gradient(circle, transparent 1%, #14AB93 1%) center/15000%;
}

.vs-solid-primary-btn:active {
	background-color: #44cbb4;
  background-size: 100%;
  transition: background 0s;
}

.vs-solid-primary-raised-btn {
  background-color: #49c5b1;
  background-position: center;
  box-shadow: 0 1px 3px rgba(0,0,0,.14), 0 2px 3px -1px rgba(0,0,0,.14);
  color: #fff;
  transition: 0.4s all ease-in-out;
}

.vs-solid-primary-raised-btn:hover {
  background: #14AB93 radial-gradient(circle, transparent 1%, #14AB93 1%) center/15000%;
  box-shadow: 0 1px 3px rgba(0,0,0,.25), 0 2px 3px -1px rgba(0,0,0,.25);
}

.vs-solid-primary-raised-btn:active {
	background-color: #44cbb4;
  background-size: 100%;
  transition: background 0s;
}

.vs-solid-secondary-btn {
  background-color: #616c78;
  color: #fff;
}

.vs-solid-secondary-btn:hover {
  background-color: #48535f;
}

.vs-outline-primary-btn {
  background: #fff;
  border-color: #49c5b1;
  color: #49c5b1;
}

.vs-outline-primary-btn:hover {
  background: rgba(73, 197, 176, 0.1);
  color: #35b09c;
}

.vs-outline-secondary-btn,
.vs-outline-secondary-raised-btn,
.vs-rounded-outline-btn {
  border-color: #adb1b6;
  background-position: center;
  color: #686f78;
  transition: all 0.4s;
}

.vs-outline-secondary-raised-btn {
  box-shadow: 0 1px 3px rgba(0,0,0,.14), 0 2px 3px -1px rgba(0,0,0,.14);
  transition: 0.4s all ease-in-out;
}


.vs-outline-secondary-btn:hover,
.vs-rounded-outline-btn:hover {
  background: rgba(137, 150, 165, 0.1) radial-gradient(circle, transparent 1%, rgba(137, 150, 165, 0.1) 1%) center/15000%;
  color: #414346;
}

.vs-outline-secondary-raised-btn:hover {
  background: rgba(137, 150, 165, 0.1) radial-gradient(circle, transparent 1%, rgba(137, 150, 165, 0.1) 1%) center/15000%;
  color: #414346;
  box-shadow: 0 1px 3px rgba(0,0,0,.25), 0 2px 3px -1px rgba(0,0,0,.25);
}

.vs-outline-secondary-btn:active,
.vs-outline-secondary-raised-btn:active,
.vs-rounded-outline-btn:active {
  background-color: rgba(167, 179, 192, 0.04);
  background-size: 100%;
  color: #414346;
  transition: background 0s;
}

.vs-rounded-solid-btn {
  background: #49c5b1;
  border-radius: 16px;
  color: #fff;
  height: 32px;
  padding: 0;
  width: 32px;
}

.vs-rounded-solid-btn:hover {
  background: #35b09c;
}

.vs-rounded-solid-btn svg {
	fill: #fff;
  width: 16px;
}

.vs-rounded-solid-btn:hover svg {
	fill: #fff;
}

.vs-rounded-outline-btn {
  border-radius: 16px;
  height: 32px;
  padding: 0;
  width: 32px;
}

.vs-rounded-outline-btn svg {
  width: 16px;
}

.vs-rounded-outline-btn:hover {
  background: rgba(172, 176, 181, 0.1);
  color: #6f7376;
}

.vs-text-btn {
  background: transparent;
  border-color: transparent;
  color: #6f7376;
  align-items: center;
}

.vs-text-btn:hover {
  background: rgba(111, 115, 118, 0.1);
  color: #414346;
}

.vs-text-btn svg {
  margin-top: -4px;
}

.vs-text-link-btn {
  background-color: transparent;
  color: #148dd1;
  padding-left: 0;
  padding-right: 0;
  border-color: transparent;
}

.vs-text-link-btn:hover {
  background: transparent;
  color: #006dac;
}

.vs-icon-btn {
  background: transparent;
  border-color: transparent;
  border-radius: 16px;
  color: #6f7376;
  height: 32px;
  padding: 3px;
  vertical-align: middle;
  width: 32px;
}

.vs-icon-btn:hover {
  background: rgba(111, 115, 118, 0.1);
  color: #414346;
}

/* Disabled state */
.vs-primary-btn.disabled,
.vs-primary-btn[disabled],
.vs-primary-btn.disabled:hover,
.vs-primary-btn[disabled]:hover,
.vs-default-btn.disabled,
.vs-default-btn[disabled],
.vs-default-btn.disabled:hover,
.vs-default-btn[disabled]:hover {
  box-shadow: none;
  opacity: 0.55;
  filter: alpha(opacity=55);
  cursor: not-allowed;
}

.vs-primary-btn.disabled,
.vs-primary-btn[disabled],
.vs-primary-btn.disabled:hover,
.vs-primary-btn[disabled]:hover {
  background: rgba(0, 175, 102, 0.1);
}

.vs-default-btn.disabled,
.vs-default-btn[disabled],
.vs-default-btn.disabled:hover,
.vs-default-btn[disabled]:hover {
  background: rgba(133, 133, 133, 0.1);
}

.vs-btn-d.disabled,
.vs-btn-d[disabled],
.vs-btn-d.disabled:hover,
.vs-btn-d[disabled]:hover {
  border-color: transparent;
  cursor: not-allowed;
}

.vs-solid-primary-btn.disabled,
.vs-solid-primary-btn[disabled],
.vs-solid-primary-btn.disabled:hover,
.vs-solid-primary-btn[disabled]:hover {
  color: #d4efea;
  background: #96d6cc;
}

.vs-solid-secondary-btn.disabled,
.vs-solid-secondary-btn[disabled],
.vs-solid-secondary-btn.disabled:hover,
.vs-solid-secondary-btn[disabled]:hover {
  color: #c0c2c4;
  background: #7f848a;
}

.vs-outline-primary-btn.disabled,
.vs-outline-primary-btn[disabled],
.vs-outline-primary-btn.disabled:hover,
.vs-outline-primary-btn[disabled]:hover {
  background: transparent;
  border-color: #96d6cc;
  color: #afe3db;
}

.vs-outline-secondary-btn.disabled,
.vs-outline-secondary-btn[disabled],
.vs-outline-secondary-btn.disabled:hover,
.vs-outline-secondary-btn[disabled]:hover {
  background: transparent;
  border-color: #c3c8ce;
  color: #b2b9c2;
}

.vs-icon-btn.disabled svg,
.vs-icon-btn[disabled] svg,
.vs-icon-btn.disabled:hover svg,
.vs-icon-btn[disabled]:hover svg {
  fill: #ccd1d7;
}

.vs-icon-btn.disabled,
.vs-icon-btn[disabled],
.vs-icon-btn.disabled:hover,
.vs-icon-btn[disabled]:hover {
  background: transparent;
}

.vs-text-btn.disabled,
.vs-text-btn[disabled],
.vs-text-btn.disabled:hover,
.vs-text-btn[disabled]:hover {
  background: transparent;
  color: #ccd1d7;
}

.vs-text-link-btn.disabled,
.vs-text-link-btn[disabled],
.vs-text-link-btn.disabled:hover,
.vs-text-link-btn[disabled]:hover {
  color: #ccd1d7;
}

/* CJ Button - Inline Button styles*/
.vs-inline-outline-secondary-btn {
  border-color: #CCCCCC;
  border-radius: 3px;
  font-weight: 400;
  font-size: 13px;
  height: 32px;
  line-height: 24px;
  padding: 3px 12px;
  text-transform: none;
}

.vs-inline-outline-secondary-btn:active {
	box-shadow: 0 0 0 2px rgba(0,0,0,.1);
}

.vs-inline-outline-secondary-btn:hover {
  border-color: #979C9F;
}

.vs-inline-outline-secondary-btn svg {
	margin-top: -2px;
}

.vs-inline-outline-secondary-btn .mdi-icon {
	width: 16px;
}

.vs-inline-button-icon {
	margin-left: -4px;
  margin-right: 6px;
}

.vs-inline-button-icon-only {
	margin-left: -6px;
  margin-right: -6px;
}

.vs-inline-button-icon,
.vs-inline-button-icon-only {
  width: 16px;
}

.vs-inline-outline-secondary-btn .vs-inline-button-chevron {
  margin-left: 4px;
  margin-right: -4px;
  width: 20px;
}



/* Button sizing */
.vs-btn-d.vs-sm-btn {
	font-size: 1rem;
	min-height: 0;
	padding: 6px 8px;
}

.vs-btn-d.vs-lg-btn {
  padding: 12px 28px;
}
