.vs-collapsible-panel-header {
  display: flex;
  align-items: center;
}

.vs-collapsible-panel-item {
  padding: 8px 40px;
}

.vs-collapsible-panel-header-title:hover {
  cursor: pointer;
}

.vs-collapsible-panel-header-title {
  user-select: none;
  font-weight: 500;
}

.vs-collapsible-panel + .vs-collapsible-panel {
  border-top: 1px solid #c8ccce;
}
