
.filter-options {
  border-bottom: solid 1px #e6e6e6;
  max-height: 0;
  transition: 0.3s max-height ease-in-out;
  width: 100%;
  z-index: 200;
}

.filter-options.expanded {
  max-height: 100%;
}

.filter-options.expanded .selection {
  max-height: 24em;
  position: relative;
  overflow-y: auto;
  width: 100%;
}

.filter-options label {
  margin-bottom: 0;
}

.filter-options input {
  margin-right: 16px;
}

.filter-options .select-all {
  padding: 0 16px;
}

.filter-options .checkboxes {
  padding: 8px 16px;
}

.checkboxes > label {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  padding: 8px;
}

.filter-error {
  color: #999;
  display: flex;
  font-size: 12px;
  font-style: italic;
  padding: 0 16px;
  text-align: left;
}
