.filter-options input {
    margin-right: 5px;
}

.filter-options .select-all {
  border-bottom: solid 1px #ddd;
}

.filter-error {
  display: flex;
  justify-content: center;
  padding: 15px 10px 0;
}

.filter-options .select-all,
.filter-options .checkboxes {
    padding: 5px 15px;
}

.checkboxes > label {
    display: flex;
    align-items: self-start;
}

.filter-options.expanded .selection {
    max-height: 24em;
    position: relative;
    overflow-y: auto;
    background-color: #EFF4F7;
    width: 100%;
}
