.filter-options input {
    margin-right: 5px;
}

.filter-options .select-all {
  border-bottom: solid 1px #ddd;
}

.filter-options .select-all,
.filter-options .checkboxes {
    padding: 5px 15px;
}
