.vs-form-horizontal .vs-form-group-vertical {
    margin-right: 0;
    margin-left: 0;
}

.vs-form-group-buttons {
    text-align: right;
}

.vs-form-group-buttons .vs-form-button {
    margin-left: 10px;
}

.vs-form-label-vertical {
    margin-bottom: .3em;
}

.vs-form-label-text-vertical {
    font-size: 1.1em;
}

.vs-form-group-static-text {
    line-height: 32px;
    padding: 1px 6px;
}

.vs-form-group-required-sign {
    padding-left: .3em;
    color: #E1523D;
}

.vs-form-group-error-span {
    display: block;
    color: #E1523D;
    top: 6px;
    position: relative;
}

.vs-has-error .vs-control-label {
    color: #E1523D;
}

.vs-has-error .vs-form-control {
    border-color: #E1523D;
}

.vs-form-group-radio-label {
    font-size: 1em;
    cursor: pointer;
    cursor: hand;
}

.vs-cj-form-input.vs-form-group-radio-input {
    min-height: 24px;
    margin-bottom: 0;
}

.vs-has-help-icon {
    display: inline;
    overflow: visible;
    float: left;
}

.vs-help-icon-form-component {
    margin-left: 15px;
}

.vs-clipboard-input {
    color: #9E868E;
    background-color: inherit;
    cursor: default;
}

.vs-clipboard-button {
    padding-top: 6px;
    padding-right: 12px;
}

.vs-clipboard-button:focus {
    outline: 0;
}

.vs-row-destinationUrl .vs-tooltip-inner {
    width: 350px;
    max-width: 350px;
}

.vs-fieldset-title {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

.vs-fieldset-panel {
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

fieldset.group  {
    margin: 0;
    margin-bottom: 1.25em;
    padding: .125em;
}

fieldset.group ul.checkbox  {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    list-style: none;
}

fieldset.group ul.checkbox li input {
    margin-right: .25em;
}

fieldset.group ul.checkbox li {
    border: 1px transparent solid;
    display:inline-block;
    width:12em;
}

fieldset.group ul.checkbox li:hover,
fieldset.group ul.checkbox li.focus  {
    background-color: lightyellow;
    border: 1px gray solid;
    width: 12em;
}
