.form-horizontal .form-group-vertical {
    margin-right: 0;
    margin-left: 0;
}

.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
  display: table;
  content: " ";
}

.form-horizontal .form-group:after {
  clear: both;
}

.form-group-buttons {
    text-align: right;
}

.form-group-buttons .form-button {
    margin-left: 10px;
}

.form-label-vertical {
    margin-bottom: .3em;
}

.form-label-text-vertical {
    font-size: 1.1em;
}

.form-group-static-text {
    line-height: 32px;
    padding: 1px 6px;
}

.form-group-required-sign {
    padding-left: .3em;
    color: #E1523D;
}

.form-group-error-span {
    display: block;
    color: #E1523D;
    top: 6px;
    position: relative;
}

.has-error .control-label {
    color: #E1523D;
}

.has-error .form-control {
    border-color: #E1523D;
}

.form-group-radio-label {
    font-size: 1em;
    cursor: pointer;
    cursor: hand;
}

.cj-form-input.form-group-radio-input {
    min-height: 24px;
    margin-bottom: 0;
}

.has-help-icon {
    display: inline;
    overflow: visible;
    float: left;
}

.help-icon-form-component {
    margin-left: 15px;
}

.clipboard-input {
    color: #9E868E;
    background-color: inherit;
    cursor: default;
}

.clipboard-button {
    padding-top: 6px;
    padding-right: 12px;
}

.clipboard-button:focus {
    outline: 0;
}

.row-destinationUrl .tooltip-inner {
    width: 350px;
    max-width: 350px;
}

.fieldset-title {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

.fieldset-panel {
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

fieldset.group  {
    margin: 0;
    margin-bottom: 1.25em;
    padding: .125em;
}

fieldset.group ul.checkbox  {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    list-style: none;
}

fieldset.group ul.checkbox li input {
    margin-right: .25em;
}

fieldset.group ul.checkbox li {
    border: 1px transparent solid;
    display:inline-block;
    width:12em;
}

fieldset.group ul.checkbox li:hover,
fieldset.group ul.checkbox li.focus  {
    background-color: lightyellow;
    border: 1px gray solid;
    width: 12em;
}

.vs-validation-error {
  color: #E1523D;
  font-size: 1.3rem;
  margin-top: -4px;
}

.vs-field-help {
  color: #777;
  font-size: 1.3rem;
  margin-top: -4px;
}

.vs-field {
  margin-bottom: 16px;
}

.vs-field-content-width-normal {
    max-width: 400px;
}

.vs-field-optional {
  color: #777;
  font-size: 1.3rem;
  font-style: italic;
}

.vs-label-font-bold {
    font-weight: 500;
}

.vs-label-font-normal {
    font-weight: normal;
}
