.vs-page-heading {
  background-color: rgba(248,250,252,0.9);
  border-top: 1px solid #eee;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: nowrap;
  justify-content: space-between;
  z-index: 90;
  align-items: center;
  min-height: 45px;
  padding: 0 20px;
  color: #647388;
  box-shadow: 0px 4px 30px 0px rgba(51, 73, 95, 0.1);
}

@media (min-width: 40em) {
  .vs-page-heading--title {
    width: calc(100% - 255px);
  }

  .vs-application-layout-side-collapsed+.vs-application-layout-content .vs-page-heading--title {
    width: calc(100% - 50px);
  }
}

.vs-page-heading--section {
  right: 1em;
  display: flex;
  position: fixed;
}


.vs-page-heading--section,
.vs-page-heading--title,
.vs-page-heading--section > *,
.vs-page-heading--title > * {
  font-size: 14px;
  font-weight: 400;
}

.vs-page-heading--description {
  padding-left: 15px;
  border-left: 1px solid rgb(195, 195, 195);
  font-size: 13px;
  margin-left: 15px;
  font-weight: 400;
}
