.page-heading {
  background-color: #EFF4F7;
  border-bottom: 1px solid #dbe5ea;
  display: flex;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: center;

  min-height: 60px;
  padding: 0 20px;
  color: #647388;
}

@media (min-width: 40em) {
  .page-heading {
    width: calc(100% - 260px);
  }
}

.page-heading--section,
.page-heading--title,
.page-heading--section > *,
.page-heading--title > * {
  font-size: 14px;
  font-weight: 400;
}

.page-heading--description {
  padding-left: 15px;
  border-left: 1px solid rgb(195, 195, 195);
  font-size: 13px;
  margin-left: 15px;
  font-weight: 400;
}
