.sidenav {
  background-color: #33495F;
  list-style: none;
  width: 55px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  left: 0;
  transition: width .5s ease-out;
  margin-top: -50px;
  position: fixed;
  z-index: 200;
  font-weight: 400;
}

.sidenav.active {
  width: 240px;
}

@media (min-width: 40em) {
  .sidenav.collapsed {
    width: 55px;
    transition: width .5s ease-out;
  }
}

.sidenav>li ul {
  list-style: none;
}

.sideNav-left-logo {
  display: flex;
  align-items: center;
  width: auto;
  margin: 0 auto;
  height: 50px;
}

.center-logo {
  text-align: center;
  margin: 0 auto;
  list-style-type: none;
}

.center-logo .cj-logo {
  width: 35px;
}

.toggle-icon {
  position: fixed;
  bottom: 0;
  width: inherit;
  background-color: #283a4d;
}

.sidenav-toggle-icon {
  text-align: center;
}

.sidenav.collapsed .sidenav-container ul li a {
  padding-left: 56px;
  transition: all .3s ease-out;
}

.sidenav.collapsed .sidenav-link span,
.sidenav.collapsed .sidenav-container-chevron,
.sidenav.collapsed .link-group-children,
.sidenav.collapsed .sidenav-container-label {
  opacity: 0;
  transition: opacity .3s ease-out;
}

.sidenav.active .sidenav-link span,
.sidenav.active .sidenav-container-chevron,
.sidenav.active .sidenav-container-label {
  opacity: 1;
  display: inline-block;
  transition: all .5s ease-out;
}

.sidenav .sidenav-link a:active span {
  color: #FFFFFF;
}

.sidenav.active .sidenav-link span {
  position: absolute;
}

.sidenav.active .sidenav-link div ~ span {
  margin-top: 3px;
}

.sidenav-icon {
  font-size: 1.3em;
  text-align: center;
  margin-right: 20px;
  width: 18px;
}

.sidenav a {
  padding: 12px 18px;
  text-decoration: none;
  display: block;
  height: 45px;
  color: #B2C4D7;
}

.sidenav .link-group-children a {
  padding: 12px 12px 12px 55px;
}

.sidenav a:focus,
.sidenav a:hover {
  background-color: #283a4d;
  color: #FFFFFF;
  cursor: pointer;
}

.sidenav .expanded .sidenav-container-label,
.sidenav .expanded>a {
  background-color: #506b86;
  color: #FFFFFF;
}

.sidenav-link {
  height: 45px;
}

.sidenav a.sidenav-container-row {
  display: flex;
  height: 45px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select:none;
}

.sidenav .sidenav-container-row-left {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.sidenav .sidenav-container-chevron {
  transform: rotate(0);
  transition: -webkit-transform .2s ease-in-out;
  font-size: 0.8em;
}

.sidenav .expanded .sidenav-container-chevron {
  transform: rotate(90deg);
}

.sidenav .sidenav-container ul {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease-out;
  padding: 0;
}

.sidenav .sidenav-container.expanded ul {
  max-height: 500px;
}

.sidenav.collapsed .sidenav-header,
.sidenav .sidenav-header {
  height: 0;
  opacity: 0;
  padding: 0;
  transition: all .3s ease-in;
}

@media (min-width: 40em) {
  .sidenav .sidenav-header {
    padding: 10px 20px;
    height: 35px;
    text-transform: uppercase;
    color: rgba(255,255,255,.5);
    font-size: 11px;
    transition: all .3s ease-in;
    opacity: 1;
  }
}

.single-text {
  margin-top: -17px;
  margin-left: -3px;
  font-size: 12px;
  font-weight: 700;
  color: #ADBBC2;
  opacity: 1 !important;
  font-family: sans-serif;
}

.custom {
  font-size: 24px;
  padding-left: -1px;
}

.stacked-icon {
  margin-right: 9px;
}
