.sidenav {
  background-color: #263238;
  list-style: none;
  min-width: 260px;
  height: 100%;
  overflow-y: scroll;
  left: 0;
  transform: translateX(-100%);
  position: fixed;
  z-index: 200;
  transition: transform 0.3s;
  font-weight: 400;
}

.sidenav.active {
  transform: translateX(0);
}

@media (min-width: 40em) {
  .sidenav {
    overflow-y: hidden;
    transform: inherit;
    position: inherit;
  }
}

.sidenav>li ul {
  list-style: none;
}

.sidenav .sidenav-container ul li a {
  padding-left: 56px;
}

.sidenav-icon {
  font-size: 14px;
  text-align: center;
  margin-right: 20px;
  width: 14px;
}

.sidenav a {
  padding: 9px 21px;
  text-decoration: none;
  display: block;
  color: #ADBBC2;
}

.sidenav a:focus,
.sidenav a:hover {
  background-color: #1f292d;
  color: #FFFFFF;
}

.sidenav .expanded>a {
  background-color: #34c6d8;
  color: #FFFFFF;
}

.sidenav a.sidenav-container-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select:none;
}

.sidenav .sidenav-container-row-left {
  display: flex;
  align-items: center;
}

.sidenav .sidenav-container-chevron {
  transform: rotate(0);
  transition: -webkit-transform .2s ease-in-out;
  font-size: 0.8em;
}

.sidenav .expanded .sidenav-container-chevron {
  transform: rotate(90deg);
}

.sidenav .sidenav-container ul {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease-out;
}

.sidenav .sidenav-container.expanded ul {
  max-height: 500px;
}

.sidenav .sidenav-header {
  padding: 10px 20px;
  text-transform: uppercase;
  color: rgba(255,255,255,.5);
  font-size: 11px;
}

@media (min-width: 40em) {
  .sidenav-toggle-icon {
      display:none;
  }
}

.sidenav .sidenav-container .sidenav-link {
}

