.side-nav {
  background: #343637;
  bottom: 0;
  color: #ddd;
  font-size: 14px;
  left: 0;
  position: fixed;
  top:60px;
  width: 185px;
}

.side-nav a {
  color: #ddd;
}
.side-nav a:hover {
  text-decoration: none;
}

.side-nav button {
  background-color: transparent;
  border: none;
  color: #ddd;
  cursor: pointer;
  margin: 0;
  outline: 0;
  padding: 10px 15px;
  text-align: left;
  width: 100%;
  font-size: 13px;
}

.side-nav button.indent {
  padding-left: 50px;
}

.side-nav button.toplevel {
  padding-left: 35px;
}

.side-nav button:hover {
  background: rgba(0,0,0,.2);
  color: #f0f0f0;
}
.side-nav .active-link button {
  /* color: #00AF66; */
  color: #FFF;
}

.side-nav button .fa {
  padding-right: 5px;
}

.collapse {
  display:none;
}

