.sidenav {
  background-color: #263238;
  list-style: none;
  width: 55px;
  height: 100%;
  overflow: auto;
  left: 0;
  transition: width .5s ease-out;
  position: fixed;
  z-index: 200;
  font-weight: 400;
}

.sidenav.active {
  width: 260px;
}

@media (min-width: 40em) {
  .sidenav.collapsed {
    width: 55px;
    transition: width .5s ease-out;
  }
}

.sidenav>li ul {
  list-style: none;
}

.toggle-icon {
  position: fixed;
  bottom: 0;
}

.sidenav.collapsed .sidenav-container ul li a {
  padding-left: 56px;
}

.sidenav .sidenav-link span,
.sidenav .sidenav-container-chevron,
.sidenav .sidenav-container-label {
  opacity: 0;
  transition: opacity .3s ease-out;
}

.sidenav.active .sidenav-link span,
.sidenav.active .sidenav-container-chevron,
.sidenav.active .sidenav-container-label {
  opacity: 1;
  color: #ADBBC2;
  display: inline-block;
  transition: opacity .5s ease-out;
}

.sidenav.active .sidenav-link span {
  position: absolute;
}

.sidenav-icon {
  font-size: 14px;
  text-align: center;
  margin-right: 20px;
  width: 14px;
}

.sidenav a {
  padding: 12px 21px;
  text-decoration: none;
  display: block;
  color: #ADBBC2;
}

.sidenav a:focus,
.sidenav a:hover {
  background-color: #1f292d;
  color: #FFFFFF;
}

.sidenav .expanded>a {
  background-color: #34c6d8;
  color: #FFFFFF;
}

.sidenav-link {
  height: 45px;
}

.sidenav a.sidenav-container-row {
  display: flex;
  height: 45px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select:none;
}

.sidenav .sidenav-container-row-left {
  display: flex;
  align-items: center;
}

.sidenav .sidenav-container-chevron {
  transform: rotate(0);
  transition: -webkit-transform .2s ease-in-out;
  font-size: 0.8em;
}

.sidenav .expanded .sidenav-container-chevron {
  transform: rotate(90deg);
}

.sidenav .sidenav-container ul {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease-out;
  padding: 0 35px;
}

.sidenav .sidenav-container.expanded ul {
  max-height: 500px;
  padding: 0 35px;
}

.sidenav .sidenav-header {
  padding: 10px 20px;
  text-transform: uppercase;
  color: rgba(255,255,255,.5);
  font-size: 11px;
}

@media (min-width: 40em) {
  .sidenav-toggle-icon {
      display:none;
  }
}

.sidenav .sidenav-container .sidenav-link {
}
