.sliding-panel {
  background-color: #fff;
  border-top: 1px solid #666;
  border-left: 1px solid #ddd;
  width: 250px;
  height: 100%;
  position: fixed;
  right: -250px;
  top: 109px;
  z-index: 200;
  padding: 0;
  transform: translateX(0);
  transition: transform 0.3s;
}

.sliding-panel.active {
  transform: translateX(-100%);
}

.sliding-panel ul {
  list-style: none;
}

.sliding-panel-header {
  padding: 10px 15px;
}

.sliding-panel-header {
  background-color: rgb(56, 71, 79);
  color: #bbb;
  font-variant: small-caps;
  font-size: 1.2em;
  font-weight: 300;
}

.sliding-panel-section:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.sliding-panel-toggle-icon {
  margin: 0 3px;
  padding: 1px 4px;

  display: flex;
  align-items: center;
}

.sliding-panel-toggle-icon.active .toggle-icon-circle {
  color: #34C6DC;
}

.sliding-panel-toggle-icon.active .toggle-icon-fg {
  color: #FFFFFF;
}

.sliding-panel-toggle-icon .toggle-icon-circle {
  color: #FFFFFF;
}
.sliding-panel-toggle-icon:hover .toggle-icon-circle {
  color: #34C6DC;
}

.sliding-panel-toggle-icon .toggle-icon-fg {
  color: #8C9BA9;
}
.sliding-panel-toggle-icon:hover .toggle-icon-fg {
  color: #FFFFFF;
}

.sliding-panel-toggle-icon:hover {
  cursor: pointer;
}

.filter-container ul {
  max-height: 0;
  overflow: hidden;
  transition: max-height .2s ease-out;
  border-bottom: solid 1px #ddd;
}

.filter-container:hover {
  background-color: #f5f5f5;
}

.filter-container a {
  text-decoration: none;
  display: block;
  color: #444;
}

.filter-container {
    transition: background-color 0.2s;
}

.filter-container.expanded ul {
  display: inline;
}

.filter-container-label {
  padding: 7px 15px;
}

.filter-container-label a {
  padding: 7px 15px;
  text-decoration: none;
  display: block;
  color: #bbb;
}

a.filter-container-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  user-select:none;
}

.filter-container .filter-container-label i {
  transform: rotate(0);
  transition: -webkit-transform .2s ease-in-out;
}

.filter-container.expanded .filter-container-label i {
  transform: rotate(90deg);
}

.filter-container.expanded a {
  color: #bbb;
}

.filter-container.expanded {
  background-color: rgb(56, 71, 79);
  color: #bbb;
    transition: background-color 0.2s;
}

.filter-options {
    background-color: #EFF4F7;
    width: 100%;
    max-height: 0;
    z-index: 200;
    transition: max-height 0.2s;
    overflow: hidden;
    border-bottom: solid 1px #ddd;
}

.filter-options.expanded {
    max-height: 100%;
}

.filter-options.expanded label {
    color: #263238;
}

.filter-options input {
    margin-right: 5px;
}

.filter-options .select-all {
  border-bottom: solid 1px #ddd;
}

.filter-options .select-all,
.filter-options .checkboxes{
    padding: 5px 15px;
}
