.topnav {
  min-height: 60px;
  background-color: #37474F;
  color: #c4d2d9;
  padding: 0;
  user-select: none;
  font-weight: 400;
}


.topnav a,
.topnav a:visited
{
  color: #ccc;
  text-decoration: none;
}

.topnav-main {
  position: relative;
  z-index: 100;
}

.topnav ul {
  list-style: none;
}

.topnav-nav {
  float: left;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.topnav-nav.off {
  display:none;
}

.topnav-nav > * {
  height: 60px;
  display: flex;
  align-items: center;
}

.topnav-app-header {
  padding-left: .6em;
}

.topnav-app-header > li {
  margin: 0 5px;
}

.topnav-nav-right {
  float: right;
  margin-right: 0;
}

.topnav-nav-right > li {
  margin: 0;
}

@media (min-width: 40em) {
  .topnav-app-header {
    min-width: 200px;
  }
}

.topnav-icon {
  font-size: 1.3em;
}

.topnav-icon > a {
  min-width: 20px;
  text-align: center;
}

.topnav .fa-ellipsis-v {
  font-size: 1.1em;
  padding-top: .2em;
}

.user-menu {
  height: 100%;
  padding: 0 10px;
  cursor: pointer;
}

.user-menu:hover,
.user-menu.active {
  background-color: #41535C;
}

.user-menu .fa-chevron-down,
.user-menu .username {
  display: none;
}

@media (min-width: 40em) {
  .user-menu .fa-chevron-down,
  .user-menu .username {
    display: initial;
  }
}

.user-menu.active .topnav-dropdown {
  display: block;
}

.user-menu .username {
  font-weight: 400;
}

.user-menu .user-menu-icon .fa-circle {
  color: #596c78;
}

.user-menu .user-menu-icon .fa-user {
  color: #c4d2d9
}

.user-menu .fa-chevron-down{
    font-size: 0.8em;
    padding-top: 0.4em;
}

.user-menu > a {
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-menu > a > * {
  padding: 0 5px;
}

.user-menu.active .topnav-dropdown {
  display: block;
}

.topnav-dropdown {
  position: absolute;
  top: 100%;
  display:none;
  border: 1px solid #ddd;
  min-width: 200px;
  box-shadow: -1px 1px 1px 1px #eee;
  /* righthand */
  right: 0;
  left: auto;
}

.topnav-dropdown .user-dropdown-item {
  display: flex;
  min-height: 72px;
  align-items: center;
}

.topnav-dropdown .user-dropdown-item .circle {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  margin-right: 5px;
  background-color: #38C498;
  display:flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: #FFF;
}

.circle .first,
.circle .last {
  font-size: 14px;
  font-weight: 300;
}

.topnav-dropdown .user-dropdown-item .user-info {
  padding-left: 10px;
  font-size: 12px;
  line-height: 16px;
}

.topnav-dropdown .user-dropdown-item .user-info .name {
  font-weight: 600;
  user-select: auto;
}

.topnav-dropdown .user-dropdown-item .user-info .email {
  color: #647388;
  font-weight: 300;
  user-select: auto;
}

.topnav-dropdown > li {
  padding: 0 14px;
  background-color: #fff;
  color: #263238;
  border-bottom:1px solid #ddd;
  height: 42px;
  line-height: 16px;
}
.topnav-dropdown .dropdown-item:hover {
  background-color: #ECF0F3;
  cursor: pointer;
}

.topnav-dropdown > li:last-child {
  border-bottom: 0;
}

.topnav-dropdown a {
  display: flex;
  align-items: center;
  height: 100%;
}

.topnav-dropdown .topnav-dropdown-logo {
  font-size: 20px;
  color: #ADBBC2;
  margin-right: 5px;
}

.topnav-dropdown .topnav-dropdown-title {
  padding-left: 10px;
  color: #263238;
}

.topnav-left-logo {
  width: 30px;
}

.topnav-nav > li.topnav-left-app-name {
  display:none;
}

.logo-pipe {
  height: 25px;
  width: .06em;
  background-color: #FFFFFF;
  margin: 0 1em 0 0;
}

@media (min-width: 40em) {
  .topnav-nav > li.topnav-left-app-name {
    display:inherit;
    font-size: 1.4em;
    letter-spacing: .15em;
    font-family: gibson-light;
    color: #FFFFFF;
  }
}

/* =================================== */

.topnav-secondary {
  position: fixed;
  z-index: 99;
  height: 0px;
  width:100%;
  overflow-x: scroll;
  top: 50px;
  transform: translateY(-100%);
  transition: transform 0.3s;
  background-color: #EFF4F7;
  color: #263238;
  border-bottom:1px solid #DBE5EA
}

@media (min-width: 40em) {
  .topnav-secondary {
    transform: translateY(0);
    display: flex;
    margin-left: 200px; /* === sidenav width */
  }
}

.topnav-secondary.active {
  transform: translateY(0);
  display: flex;
}

@media (min-width: 40em) {
  .secondarynav-toggle-icon a {
    display: none;
  }
}

.topnav-secondary-left {
  display: flex;
  align-items: center;
  padding: 1em;
}
