.vs-bs-container {
	text-align: center;
	padding: 64px 32px;
}

.vs-bs-container.vs-bs-leftalign {
	display: flex;
	text-align: left;
}

.vs-bs-container.vs-bs-leftalign .vs-bs-img {
	width: 128px;
}

.vs-bs-container.vs-bs-leftalign .vs-bs-content {
	padding-left: 24px;
	padding-top: 16px;
}

.vs-bs-container.vs-bs-leftalign .vs-bs-subtitle {
	margin-bottom: 24px;
}

.vs-bs-container.vs-bs-leftalign .vs-bs-subtitle p {
	margin-bottom: 8px;
}

.vs-bs-img svg {
	width: 128px;
	height: 128px;
	fill: #D8DCDF;
}

.vs-bs-title {
	font-size: 1.8rem;
	margin-bottom: 24px;
}

.vs-bs-subtitle {
  color: #333;
  font-size: 1.4rem;
  font-weight: 400;
	margin-bottom: 8px;
}

.vs-bs-description-text {
  color: #757575;
  margin: 0 auto 24px;
  max-width: 768px;
}

.vs-bs-button-primary {
	margin: 0 0 16px;
}
