/** @prettier */
.sidenav {
  background-color: #151c23;
  list-style: none;
  width: 55px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  left: 0;
  transition: width .5s ease-out;
  position: fixed;
  z-index: 200;
  font-weight: 400;
  user-select:none;
}

.sidenav h1,
.sidenav ul,
.sidenav li,
.sidenav {
  margin: 0;
  padding: 0;
}

.sidenav.active {
  width: 255px;
}

@media (min-width: 40em) {
  .sidenav.collapsed {
    width: 55px;
    transition: width .5s ease-out;
  }
}

.sidenav>li ul {
  list-style: none;
}

.sideNav-left-logo {
  display: flex;
  height: 45px;
}

.logo {
  padding: 10px;
}

.logo .cj-logo {
  width: 35px;
}

.app-name {
  display:inherit;
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  font-family: gibson-light;
  white-space: nowrap;
}

.sidenav-user-menu, .toggle-icon {
  position: fixed;
  width: inherit;
  background-color: #151c23;
}

.sidenav-user-menu {
  bottom: 45px;
}

.toggle-icon {
  bottom: 0;
}

.sidenav-toggle-icon {
  text-align: center;
  border-top: 1px solid #4a4a4a;
}

.sidenav.collapsed .sidenav-container ul li a {
  padding-left: 56px;
  transition: all .3s ease-out;
}

.sidenav.collapsed .sidenav-link span,
.sidenav.collapsed .sidenav-container-chevron,
.sidenav.collapsed .link-group-children,
.sidenav.collapsed .app-name,
.sidenav.collapsed .sidenav-container-label {
  opacity: 0;
  transition: opacity .3s ease-out;
}

.sidenav.active .sidenav-link span,
.sidenav.active .sidenav-container-chevron,
.sidenav.active .app-name,
.sidenav.active .sidenav-container-label {
  opacity: 1;
  display: inline-block;
  transition: all .5s ease-out;
}

.sidenav .sidenav-link a:active span {
  color: #FFFFFF;
}

.sidenav.active .sidenav-link span {
  position: absolute;
}

.sidenav.active .sidenav-link div ~ span {
  margin-top: 3px;
}

.sidenav-icon {
  font-size: 1.3em;
  text-align: center;
  margin-right: 20px;
  width: 18px;
}

.sidenav a {
  padding: 12px 18px;
  text-decoration: none;
  display: block;
  height: 45px;
  color: #cfd5dc;
}

.sidenav .link-group-children {
  background-color: #090c11;
}

.sidenav a:focus,
.sidenav a:hover {
  background-color: #4e545c;
  color: #FFFFFF;
  cursor: pointer;
  transition-duration: .1s;
}

.sidenav-container-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 165px;
  overflow: hidden;
}

.sidenav .expanded > a.sidenav-container-row {
  background-color: #30343a;
  color: #FFFFFF;
}

.sidenav-link {
  height: 45px;
}

.sidenav .sidenav-container-row {
  display: flex;
  height: 45px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select:none;
}

.sidenav a.sidenav-container-row {
  cursor: pointer;
}

.sidenav .sidenav-container-row-left {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.sidenav .sidenav-container-chevron {
  transform: rotate(0);
  transition: -webkit-transform .2s ease-in-out;
  font-size: 0.8em;
}

.sidenav .expanded .sidenav-container-chevron {
  transform: rotate(90deg);
}

.sidenav .sidenav-container ul {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease-out;
  padding: 0;
}

.sidenav .sidenav-container.expanded ul {
  max-height: 500px;
}

.sidenav.collapsed .sidenav-header,
.sidenav .sidenav-header {
  height: 0;
  opacity: 0;
  padding: 0;
  transition: all .3s ease-in;
}

@media (min-width: 40em) {
  .sidenav .sidenav-header {
    padding: 10px 20px;
    height: 35px;
    text-transform: uppercase;
    color: rgba(255,255,255,.5);
    font-size: 11px;
    transition: all .3s ease-in;
    opacity: 1;
  }
}

.single-text {
  margin-top: -17px;
  margin-left: -3px;
  font-size: 12px;
  font-weight: 700;
  color: #ADBBC2;
  opacity: 1 !important;
  font-family: sans-serif;
}

.custom {
  font-size: 24px;
  padding-left: -1px;
}

.stacked-icon {
  margin-right: 9px;
}

.sidenav-link-content-wrapper {
  display:flex;
  align-items: center;
}

.sidenav-link-label {
  display: inline;
}

.sidenav-svg-icon {
  margin-left: -2px;
  margin-right: 19px;
  display: flex;
}

.placeholder-icon,
.sidenav-svg-icon svg {
  width: 22px;
}

.sidenav-svg-icon svg {
  fill: currentColor;
}

.user-icon-circle {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 15px;
  margin-left: -6px;
  display:flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: #FFF;
}


.user-icon-first,
.user-icon-last {
  font-size: 13px;
  font-weight: 300;
}
