/** @prettier */
.sidenav {
  background-color: #151c23;
  color: #cfd5dc;
  font-size: 13px;
  font-weight: 400;
  height: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 0 96px 0;
  position: fixed;
  transition: width .2s ease-in-out;
  user-select:none;
  width: 48px;
  z-index: 200;
}

.sidenav.active {
  width: 256px;
}

.sidenav h1,
.sidenav ul,
.sidenav li {
  margin: 0;
  padding: 0;
}


.sidenav li a,
.sidenav .sidenav-container-row {
  align-items: center;
  color: #cfd5dc;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: space-between;
  padding: 0;
  text-decoration: none;
}

.sidenav li a:hover,
.sidenav li a:focus {
  /* background-color: #20262D; */
  background-color: rgba(61, 68, 76, .1);
  color: #fff;
  outline: none;
  text-decoration: none;
  transition: all .1s ease-in-out;
}

/* Top level link label text */
.sidenav-container-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 156px;
}




/* Submenu */
.sidenav ul {
  list-style: none;
  /* padding-bottom: 96px; */
}

.sidenav ul li {
  height: 48px;
}

/* Submenu link label text */
.sidenav-link-label {
  display: inline;
}

.sidenav-svg-icon {
  display: flex;
  padding: 12px;
  text-align: center;
  width: 48px;
  height: 48px;
}

.placeholder-icon,
.sidenav-svg-icon svg {
  margin-left: auto;
  margin-right: auto;
  width: 16px;
}

.sidenav-svg-icon svg {
  color: #cfd5dc;
  fill: currentColor;
}




/* Active state styles for menu items with submenus */
.sidenav .expanded .sidenav-container-row {
  /* background-color: #313942; */
  color: #fff;
}

/* Icon and label container for menu items */
.sidenav-link-content-wrapper,
.sidenav .sidenav-container-row-left {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.sidenav .chevron-right {
  color: #cfd5dc;
  transform: rotate(0);
  transition: transform .2s ease-in-out;
  margin-right: 16px;
  width: 20px;
  height: 20px;
}

.sidenav .expanded .chevron-right {
  color: #fff;
  transform: rotate(90deg);
}

/* Submenus */
.sidenav .sidenav-container ul {
  max-height: 0;
  overflow: hidden;
  transition: max-height .2s ease-in-out;
  padding: 0;
}

.sidenav .sidenav-container.expanded ul {
  max-height: 900px;
  /* need to fix this so it isnt explicit height */
}

/* Submenu Container */
.sidenav .link-group-children {
  background-color: #0D0F12;
}

.sidenav .link-group-children a {
  color: #cfd5dc;
  display: block;
  outline: none;
  text-decoration: none;
  transition: all .1s ease-in-out;
}

.sidenav .link-group-children a:hover,
.sidenav .link-group-children a:focus {
  background-color: rgba(61, 68, 76, .1);
  color: #fff;
}



/* Active Menu Items */
.sidenav.active .sidenav-link span,
.sidenav.active .sidenav-container-chevron,
.sidenav.active .app-name,
.sidenav.active .sidenav-container-label {
  opacity: 1;
  display: inline-block;
  transition: opacity .2s ease-in-out;
}

.sidenav .sidenav-link a:active span {
  color: #fff;
}

.sidenav.active .sidenav-link span {
  position: absolute;
}

.sidenav.active .sidenav-link div ~ span {
  margin-top: 3px;
}


/* Collapsed */
.sidenav.collapsed .sidenav-header,
.sidenav .sidenav-header {
  height: 0;
  opacity: 0;
  padding: 0;
  transition: all .2s ease-in-out;
}

.sidenav.collapsed .sidenav-container ul li a {
  padding-left: 56px;
  /* transition: all .2 ease-out; */
}

.sidenav.collapsed .sidenav-link span,
.sidenav.collapsed .link-group-children,
.sidenav.collapsed .app-name,
.sidenav.collapsed .sidenav-container-label {
  opacity: 0;
  transition: opacity .2s ease-in-out;
}
















/* Logo and Branding */
.sideNav-left-logo {
  display: flex;
  height: 48px;
}

.logo {
  height: 48px;
  padding: 12px;
  width: 48px;
}

.app-name {
  color: #fff;
  display:inherit;
  font-family: gibson-light;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 48px;
  margin-top: 1px;
  white-space: nowrap;
}




/* User Menu */
.sidenav-user-menu {
  bottom: 48px;
}

.user-icon-circle {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  margin-right: 12px;
  margin-left: 12px;
  display:flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: #FFF;
}

.user-icon-first,
.user-icon-last {
  font-size: 11px;
  font-weight: 300;
}

.sidenav-user-menu,
.sidenav .toggle-icon {
  color: #cfd5dc;
  position: fixed;
  width: inherit;
  background-color: #151c23;
}

.sidenav .toggle-icon {
  bottom: 0;
}

.sidenav .toggle-icon a {
  align-items: center;
  border-top: 1px solid #20262D;
  color: #cfd5dc;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.sidenav .toggle-icon a svg {
  margin-left: auto;
  margin-right: auto;
  transform: rotate(0deg);
  width: 20px;
  height: 20px;
}

.sidenav.collapsed .toggle-icon a svg {
  transform: rotate(-180deg);
}




/* Custom */
.single-text {
  margin-top: -17px;
  margin-left: -3px;
  font-size: 12px;
  font-weight: 700;
  color: #ADBBC2;
  opacity: 1 !important;
  font-family: sans-serif;
}

.custom {
  font-size: 24px;
  padding-left: -1px;
}

.stacked-icon {
  margin-right: 9px;
}

.sidenav-icon {
  font-size: 1.3em;
  text-align: center;
  margin-right: 20px;
  width: 18px;
}


/* Media Queries */
@media (min-width: 40em) {
  .sidenav .sidenav-header {
    padding: 10px 20px;
    height: 35px;
    text-transform: uppercase;
    color: rgba(255,255,255,.5);
    font-size: 11px;
    transition: all .2s ease-in-out;
    opacity: 1;
  }
  .sidenav.collapsed {
    width: 48px;
    transition: width .2s ease-in-out;
  }
}
