.vs-analytic-card {
  text-align: center;
  padding: 32px;
  flex-basis: 320px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08),
    /*	0 2px 3px rgba(0,0,0,.1), */ 0 2px 3px -1px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  background: white;
  transition: 0.1s all ease-in-out;
}

.vs-analytic-card-clickable {
  cursor: pointer;
	transition: .1s all ease-in-out;
}

.vs-analytic-card-clickable:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.24);
  border-color: #cacaca;
}
.vs-analytic-card-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
}

.vs-analytic-card-container > .vs-analytic-card {
  margin-right: 16px;
  margin-bottom: 16px;
}

.vs-analytic-card-title {
  color: #757575;
  font-size: 1.8rem;
}

.vs-analytic-card-value {
  font-size: 3.6rem;
  font-weight: 500;
}

.vs-analytic-card-trend {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.vs-analytic-card-value-unit {
  font-size: 1.2rem;
}

.vs-analytic-card-trend-container > .vs-analytic-card-trend:not(:last-child) {
  border-right: 1px solid #d4d4d4;
}

.vs-analytic-card-trend-container {
  display: flex;
  justify-content: center;
}

.vs-analytic-card-trend-value {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}

.vs-analytic-card-trend-value svg {
	margin-right: 4px;
}

.vs-analytic-card-trend-label {
  font-size: 1.5rem;
  font-weight: 400;
  color: #757575;
}

.vs-analytic-card-trend-negative {
  color: #00c18c;
}

.vs-analytic-card-trend-positive {
  color: #f75966;
}
