.vs-active .vs-sliding-panel-section-icon {
  fill: #3ABDA7;
}

.vs-sliding-panel.vs-active {
  width: 300px;
  border-left: 1px solid #d1d1d2;
}

.vs-sliding-panel-section-container .vs-sliding-panel-section-container-label i {
  color: #999;
  font-size: 10px;
  transform: rotate(0);
  transition: .3s all ease-in-out;
}

.vs-sliding-panel-section-container a,
.vs-sliding-panel-section-container:hover a {
  text-decoration: none;
  color: #333;
}

.vs-sliding-panel-section-container a:not(.sliding-panel-section-container-label) {
  display: block;
}

.vs-sliding-panel-section-container ul {
  max-height: 0;
  overflow: hidden;
  transition: .5s max-height ease-out;
}

.vs-sliding-panel-section-container {
  border-top: 1px solid #d1d1d2;
}

.vs-sliding-panel-section-container-label a {
  display: block;
  padding: 8px 16px;
}

.vs-sliding-panel-section-container-label div {
  font-weight: 600;
  opacity: .54;
  transition: .3s all ease-in-out;
}

.vs-sliding-panel-section-container-label {
  padding: 12px;
  padding-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.vs-sliding-panel-section-container-label:hover div,
.vs-sliding-panel-section-container.vs-expanded .vs-sliding-panel-section-container-label div {
  opacity: 1;
}

.vs-sliding-panel-section-container.vs-expanded .vs-sliding-panel-section-container-label i {
  color: rgb(58, 189, 167);
  transform: rotate(90deg);
}

.vs-sliding-panel-section-container.vs-expanded ul {
  display: inline;
}

.vs-sliding-panel-section-icon {
  height: 14px;
  fill: #748aa1;
}

.vs-sliding-panel-section-icon-btn {
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #CCC;
  color: #919191;
  transition: 0.2s all ease-in-out;
  position: relative;
}

.vs-sliding-panel-section-icon-btn:hover {
  background-color: #f5f5f5;
}

.vs-sliding-panel-section-icon-btn svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vs-force-sliding-panel-width {
  width: 300px;
}

.vs-sliding-panel ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.vs-sliding-panel {
  background-color: #fff;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0);
  color: #333;
  width: 0px;
  z-index: 89;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  transition: all 0.5s;
}

.vs-sliding-panel-header {
  background-color: #fff;
  border-bottom: 1px solid #d1d1d2;
  color: #333;
  text-transform: capitalize;
  padding: 14px 15px;
  font-weight: 600;
}

.vs-sliding-panel-section {
  border-bottom: 1px solid #d1d1d2;
}

.vs-sliding-panel-toggle-icon {
  cursor: pointer;
  text-decoration: none;
  display: flex;
}
