.sliding-panel {
  background-color: #fff;
  border-top: 1px solid #eee;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0);
  color: #333;
  width: 300px;
  height: calc(100vh - 45px);
  position: fixed;
  right: -300px;
  top: 45px;
  z-index: 89;
  overflow: scroll;
  padding: 0;
  transform: translateX(0);
  transition: all 0.5s;
}

.sliding-panel.active {
  transform: translateX(-100%);
  box-shadow: 0 0 64px rgba(0, 0, 0, .1);
}

.sliding-panel-header {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  color: #333;
  text-transform: capitalize;
  padding: 14px 15px;
  font-weight: 600;
}

.sliding-panel-section:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}

.sliding-panel ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-container.expanded {
  background-color: #fff;
	transition: 0.5s all ease-in-out;
}

.filter-container ul {
  max-height: 0;
  overflow: hidden;
  transition: .5s max-height ease-out;
  border-bottom: 1px solid #e6e6e6;
}

.filter-container.expanded ul {
  display: inline;
}

.filter-container a {
  color: #333;
  display: block;
  text-decoration: none;
}

.filter-container-label {
  padding: 16px;
}

.filter-container-label div {
  font-weight: 600;
  opacity: .54;
  transition: .3s all ease-in-out;
}

.filter-container-label:hover div,
.filter-container.expanded .filter-container-label div {
  opacity: 1;
}

.filter-container-label a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

a.filter-container-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  user-select:none;
}

.sliding-panel-toggle-icon {
  margin: 0 3px;
  padding: 1px 4px;
  display: flex;
  align-items: center;
}

.sliding-panel-toggle-icon:hover {
  cursor: pointer;
  text-decoration: none;
}

.filter-container .filter-container-label i {
	color: #333;
	font-size: 10px;
  opacity: .54;
  transform: rotate(0);
  transition: .3s all ease-in-out;
}

.filter-container.expanded .filter-container-label i {
  opacity: 1;
  transform: rotate(90deg);
}

.filter-icn-btn {
  min-width: 50px;
  width: auto;
  border-collapse: separate;
  border-radius: 4px;
  cursor: pointer;
  line-height: 20px;
  overflow: hidden;
  padding: 6px 12px 6px 7px;
  border: 1px solid #CCC;
  color: #262626;
  display: inline-flex;
  align-items: center;
}

.filter-icn-btn:hover {
  background-color: #f5f5f5;
	transition: 0.2s all ease-in-out;
}

.filterIcon {
  height: 14px;
  fill: #748aa1;
}

.active .filterIcon {
  fill: #3ABDA7;
}
