html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

.application-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.application-layout-container {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
  background-color: #F1F4F8;
  transition: all .5s ease-out;
}

.application-layout-side-collapsed,
.application-layout-side {
  flex: 0 0 auto;
  overflow: auto;
  margin-left: 50px;
  transition: all .5s ease-out;
}

.application-layout-filter {
  flex: 0 0 auto;
  overflow: auto;
  margin-left: 50px;
  transition: all .5s ease-out;
}

.application-layout-filter-collapsed {
  flex: 0 0 auto;
  margin-left: 0px;
  transition: all .5s ease-out;
}

@media (min-width: 40em) {
  .application-layout-side {
    flex: 0 0 255px;
    margin-left: 0px;
    transition: all .5s ease-out;
  }

  .application-layout-side-collapsed {
    flex: 0 0 55px;
    margin-left: 0px;
    transition: all .5s ease-out;
  }

  .application-layout-filter {
    flex: 0 0 310px;
    margin-left: 0px;
    transition: all .4s ease-out;
  }

  .application-layout-filter-collapsed {
    flex: 0 0 5px;
    margin-left: 0px;
    transition: all .4s ease-out;
  }
}

.application-layout-content {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
}
