.vs-data-table-container {
  background: #fff;
  border: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 2px 3px -1px rgba(0, 0, 0, 0.08);
  padding: 0;
}

.vs-data-table-container .vs-table-title {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 12px 16px;
}

.vs-data-table-container .vs-table-title p {
  color: #757575;
  font-size: 1.3rem;
  font-weight: 400;
  margin: 4px 0 0;
}
.vs-data-table-container .vs-table-title .vs-btn-d {
  margin: 0 0 0 8px;
}
.vs-data-table-container .vs-thead .vs-cell {
  border-top: 0;
  font-size: 1.3rem;
  font-weight: 500;
  min-height: 32px;
  padding: 4px 8px;
  vertical-align: bottom;
}

.vs-data-table-container .vs-tbody .vs-cell {
  min-height: 0;
  padding: 4px 12px;
}

.vs-data-table-container .vs-thead .vs-cell:first-child,
.vs-data-table-container .vs-tbody .vs-cell:first-child {
  padding-left: 16px;
}

.vs-data-table-header-sortable {
  cursor: pointer;
  color: #6c6e71;
  user-select: none;
}

.vs-data-table-header-sorted {
  color: #333;
}

.vs-data-table-container
  .vs-thead
  .vs-cell.vs-data-table-header-sorted
  > div
  > span {
  display: inline-block;
  width: 20px;
}

.vs-data-table-header-sortable svg {
  fill: #333;
  height: 16px;
  margin-top: -2px;
  margin-left: 4px;
  width: 16px;
}

.vs-data-table-container .vs-table-pagination {
  border-top: 1px solid #c8ccce;
  min-height: 0;
  padding: 16px;
}

.vs-data-table-container .vs-table-pagination .vs-page-control {
  flex-grow: 2;
  justify-content: center;
}

.vs-data-table-container .vs-table-pagination .vs-pagination-total-records {
  min-width: 150px;
  text-align: right;
}

.vs-data-table-clickable-cell {
  cursor: pointer;
}

.vs-unsorted-row-icon {
  visibility: hidden;
  opacity: 0;
}

.vs-cell:hover .vs-unsorted-row-icon {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.2s linear;
}

.vs-table-trend-icon {
  margin-right: 4px;
  margin-top: -2px;
}
