.vs-data-table-container {
  border: 1px solid #c8ccce;
  border-radius: 2px;
  padding: 16px;
}

.vs-data-table {
  width: 100%;
}

.vs-data-table-row {
  display: flex;
  justify-content: space-between;
}

.vs-data-table-row {
  border-bottom: 1px solid #c8ccce;
  padding: 8px 0px;
}

.vs-table-pagination {
  padding-top: 16px;
}
