.vs-analytic-card-container {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

@media (min-width: 768px) {
	
	.vs-analytic-card-container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	
}

@media (min-width: 1024px) {
	
	.vs-analytic-card-container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;
	}
	
}