.inline-remove-margin {
  display: inline;
  margin: 0;
}

/*TODO move to visual stack*/
.vs-collapsible-panel-header {
  display: flex;
  align-items: center;
}

.vs-collapsible-panel-item {
  padding: 0 40px;
}

.vs-collapsible-panel-header-title:hover {
  cursor: pointer;
}
