div.vs-react-select__input input {
  margin-bottom: 0px;
  padding: 0px;
}

div.vs-react-select__input input:focus {
  box-shadow: none;
  border: none;
}

div.vs-default-react-select {
  margin-bottom: 8px;
}

div.vs-react-select__control {
	border-radius: 3px;
  height: 32px;
  min-height: 32px;
}

div.vs-react-select__control--is-focused,
div.vs-react-select__control--is-focused:hover {
  outline: 1px solid #979C9F;
  border-color: #979C9F;
  box-shadow: 0 0 0 2px rgba(0,0,0,.1);
}

.vs-react-select__value-container div {
	font-size: 1.3rem;
	line-height: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
}

div.vs-react-select__value-container {
  padding-top: 0px;
  padding-bottom: 0px;
}

div.vs-react-select__placeholder {
	font-size: 1.3rem;
	line-height: 1.4rem;
}

div.vs-react-select__indicator {
  padding: 6px;
}

div.vs-react-select__indicator svg {
	position: relative;
	top: -1px;
	width: 16px;
	transition: .2s all ease-in-out;
}

div.vs-react-select__control:hover div.vs-react-select__dropdown-indicator svg {
	color: #333;
}

div.vs-react-select__option {
  padding: 6px 12px;
  word-break: break-all;
}

div.vs-input-error,
div.vs-input-error div.vs-react-select__control {
  border-color: #e1523d;
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(225, 82, 61,.1);
}

div.vs-react-select__control.vs-react-select__control--is-disabled,
div.vs-react-select__control[disabled] {
  color: #888;
  cursor: not-allowed;
  background-color: #eee;
  border-color: #e1e1e1;
}

div.vs-react-select__option--is-focused {
  background-color: #f5f5f5;
}

div.vs-react-select__option:active,
div.vs-react-select__option--is-focused:active {
  background-color: #f5f5f5;
}

div.vs-react-select__option.vs-react-select__option--is-selected,
div.vs-react-select__option.vs-react-select__option--is-selected:active {
  background-color: #f5f5f5;
  color: #333;
}

div.vs-react-select__multi-value {
  background-color: #6D7684;
  border-radius: 2px;
  color: #fff;
  height: 24px;
  line-height: 1.6;
  margin: -2px 4px 0 0;
  max-width: 200px;
  padding: 2px 22px 2px 6px;
  position: relative;
  vertical-align: middle;
  white-space: wrap;
}

div.vs-react-select__multi-value:first-child {
	margin-left: -4px;
}

div.vs-react-select__multi-value__label {
  white-space: nowrap;
  text-overflow: ellipsis;
  color: inherit;
  font-size: 1.2rem;
}

div.vs-react-select__multi-value__remove:hover {
  background-color: #8791a1;
  color: white;
}

div.vs-react-select__multi-value__remove {
  margin-left: 2px;
  position: absolute;
  right: 4px;
  top: 5px;
}
