.vs-list-view {
  background: #fff;
  border: 1px solid#c5c5c5;
}

.vs-list-view > .vs-list-item {
  height: 150px;
  padding: 24px;
}

.vs-list-view-header {
  border: 1px solid#c5c5c5;
  border-bottom: none;
  padding: 12px 24px;
}

.vs-list-view-footer {
  border: 1px solid#c5c5c5;
  border-top: none;
  padding: 12px 24px;
}

.vs-list-view > .vs-list-item-clickable:hover {
  cursor: pointer;
  background: #eee;
  transition: background linear 0.2s;
}

.vs-list-view > .vs-list-item:not(:last-child) {
  border-bottom: 1px solid#c5c5c5;
}
