.blank-slate {
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    padding: 60px;
    margin-top: 90px;
    position: relative;
}

.blankslate-icon {
    font-size: 10em;
    color: #DDDDDD;
}

.blankslate-description, .blankslate-title {
    color: #858585;
}
.blankslate-title {
    font-weight: 500;
    font-size: 2em;
    padding: 1.5em 0 .3em;
}

.blank-slate-img-wrapper {
    position: absolute;
    width: 100%;
    top: -70px;
    left: 0;
}

.bs-bubble-img{
    width: 135px;
    top: 0px;
    margin: 0 auto;
}

.bs-support-center-info {
    width: 80%;
    border-top: 1px dashed #CCC;
    padding: 2em 0;
    margin: 2em auto;
}

.bs-support-center-info i{
    font-size: 18px;
    padding: 0 3px;
}

.bs-description-text {
    color: #858585;
    white-space: normal;
}

.bs-description-wrapper {
    margin: 0 auto;
    padding: 0 2em;
    text-align: center;
}

.bs-description-bullet-wrapper {
    color: #858585;
    text-align: left;
    max-width: 50%;
    margin: 0 auto;
    white-space: normal;
    display: inline-block;
}

.bs-subtitle {
    color: #858585;
    margin-bottom: 2em;
    white-space: normal;
}

.bs-description-learn-more {
    margin: 2em auto 0;
    color: #858585;
}

.bs-button-wrapper {
    border-top: 1px dashed #CCC;
    padding: 2em 0 0;
    margin: 2em auto;
    width: 80%;
}
