/* CJ Button - primary styles*/

.default-btn {
  border: 2px solid #B6B6B6;
  color: #B6B6B6;
}

.primary-btn {
  border: 2px solid #00AF66;
  color: #00AF66;
}

.info-btn {
  border: 2px solid #34657F;
  color: #34657F;
}

.danger-btn {
  border: 2px solid #E1523D;
  color: #E1523D;
}

.warning-btn {
  border: 2px solid #FFB500;
  color: #FFB500;
}

.success-btn {
  border: 2px solid #49C5B1;
  color: #49C5B1;
}

.default-btn, .primary-btn, .info-btn, .danger-btn, .warning-btn, .success-btn {
  background: #FFFFFF;
  box-sizing: border-box;
  outline: none;
}

a.btn-d:hover, .btn-d a:hover {
  text-decoration: none;
}

.default-btn:hover {
  background: rgba(133, 133, 133, 0.1);
  box-shadow: none;
}

.primary-btn:hover {
  background: rgba(0, 175, 102, 0.1);
  box-shadow: none;
}

.info-btn:hover {
  background: rgba(52, 101, 127, 0.1);
  box-shadow: none;
}

.danger-btn:hover {
  background: rgba(221, 56, 52, 0.1);
  box-shadow: none;
}

.warning-btn:hover  {
  background: rgba(255, 181, 20, 0.1);
  box-shadow: none;
}

.success-btn:hover {
  background: rgba(73, 197, 177, 0.1);
  box-shadow: none;
}

/* global button styles */

.btn-d  {
  display: inline-block;
  margin: 5px 0;
  min-width: 50px;
  width: auto;
  border-collapse: separate;
  border-radius: 4px;
  text-align: center;
  font-weight: normal;
  font-size: 1em;
  cursor: pointer;
  line-height: 20px;
  overflow: hidden;
  box-shadow: none;
  text-shadow: none;
}

.btn-d:focus, a.btn-d:focus {
  outline: none;
}

.btn-d:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
}

/* Button sizing */

.btn-d {
  padding: 6px 20px;
}

.lrg-btn, .lrg-btn {
  padding: 10px 28px;
  font-size: 1.1em;
}

/* Disabled state */

.primary-btn.disabled, .primary-btn[disabled], .primary-btn.disabled:hover, .primary-btn[disabled]:hover,
.default-btn.disabled, .default-btn[disabled], .default-btn.disabled:hover, .default-btn[disabled]:hover {
  box-shadow: none;
  opacity: 0.55;
  filter: alpha(opacity=55);
  cursor: not-allowed;
}

.primary-btn.disabled, .primary-btn[disabled], .primary-btn.disabled:hover, .primary-btn[disabled]:hover {
  background: rgba(0, 175, 102, 0.1);
}

.default-btn.disabled, .default-btn[disabled], .default-btn.disabled:hover, .default-btn[disabled]:hover {
  background: rgba(133, 133, 133, 0.1);
}
