.page-heading {
  background-color: rgb(247, 247, 247);
  border-bottom: 1px solid #E2E2E2;
  margin-bottom: 1em;
}

.page-heading--title {
  font-size: 18px;
  color: #777;
  font-weight: 400;
  min-height: 25px;
  padding-left: 1.2em;
  padding-top: 0.8em;
}

.page-heading--description {
  padding-left: 15px;
  border-left: 1px solid rgb(195, 195, 195);
  font-size: 13px;
  margin-left: 15px;
  font-weight: 400;
}
