.topnav {
  min-height: 50px;
  background-color: rgb(56, 71, 79);
  color: #ccc;
  padding: 0;
  user-select: none;
  font-weight: 300;
}


.topnav a,
.topnav a:visited
{
  color: #ccc;
  text-decoration: none;
}

.topnav-main {
  position: relative;
  z-index: 100;
}

.topnav ul {
  list-style: none;
}

.topnav-nav {
  float: left;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.topnav-nav.off {
  display:none;
}

.topnav-nav > div,
.topnav-nav > li {
  margin: 0 5px;
  height: 50px;
  display: flex;
  align-items: center;
}
.topnav-nav-right > li {
  margin: 0;
}

.topnav-app-header {
  padding-left: 1em;
}

@media (min-width: 40em) {
  .topnav-app-header {
    min-width: 200px;
  }
}
.topnav-app-header > li {
}

.topnav-nav-right {
  float: right;
  margin-right: 0;
}

.user-menu .username {
  display: none;
}

@media (min-width: 40em) {
  .user-menu .username {
    display: initial;
  }
}

.topnav-icon {
  font-size: 1.3em;
}

.topnav-icon > a {
  min-width: 20px;
  text-align: center;
}

.user-menu {
  height: 100%;
	padding: 0 3px;
}

.topnav .fa-ellipsis-v {
  font-size: 1.1em;
  padding-top: .2em;
}


.user-menu .fa-user-circle{
  font-size: 1.5em;
}


.user-menu .fa-chevron-down{
    font-size: 0.8em;
    padding-top: 0.4em;
}

.user-menu > a {
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-menu > a > * {
  padding: 0 5px;
}

.user-menu.active {
  background-color: #41535C;
}

.user-menu.active .topnav-dropdown {
  display: block;
}

.topnav-dropdown {
  position: absolute;
  top: 100%;
  display:none;
  border: 1px solid #ddd;
  min-width: 200px;
  box-shadow: -1px 1px 1px 1px #eee;
  /* righthand */
  right: 0;
  left: auto;
  margin-right: 2px;
}

.topnav-dropdown .user-dropdown-item {
  display: flex;
  min-height: 80px;
  align-items: center;
}

.topnav-dropdown .user-dropdown-item > i {
  color: #38C498;
  font-size: 2.75em;
}

.topnav-dropdown .user-dropdown-item .user-info {
  font-size: .85em;
  padding-left: 10px;
 }

.topnav-dropdown .user-dropdown-item .user-info .name {
  font-weight: bold;
  margin-bottom: 2px;
}

.topnav-dropdown > li {
  padding: 0 10px;
  background-color: #fff;
  color: #333;
  border-bottom:1px solid #ddd;
  height: 40px;
}

.topnav-dropdown > li:last-child {
  border-bottom: 0;
}

.topnav-dropdown a {
  display: flex;
  align-items: center;
  height: 100%;
}

.topnav-dropdown .topnav-dropdown-logo {
  font-size: 1.5em;
  color: #ADBBC2;
}

.topnav-dropdown .topnav-dropdown-title {
  padding-left: 10px;
  color: #333;
}

.topnav-left-logo {
  font-size: 1.5em;
}

@media (min-width: 40em) {
  .topnav-left-logo {
    font-size: 1.5em;
    padding: .3em;
  }
}

.topnav-nav > li.topnav-left-app-name {
  display:none;
}

@media (min-width: 40em) {
  .topnav-nav > li.topnav-left-app-name {
    display:inherit;
    font-variant: small-caps;
    font-size: 1.2em;
  }
}

/* =================================== */

.topnav-secondary {
  position: fixed;
  z-index: 99;
  height: 0px;
  width:100%;
  overflow-x: scroll;
  top: 50px;
  transform: translateY(-100%);
  transition: transform 0.3s;
  background-color: #EFF4F7;
  color: #263238;
  border-bottom:1px solid #DBE5EA
}

@media (min-width: 40em) {
  .topnav-secondary {
    transform: translateY(0);
    display: flex;
    margin-left: 200px; /* === sidenav width */
  }
}

.topnav-secondary.active {
  transform: translateY(0);
  display: flex;
}

@media (min-width: 40em) {
  .secondarynav-toggle-icon a {
    display: none;
  }
}

.topnav-secondary-left {
  display: flex;
  align-items: center;
  padding: 1em;
}

