.vs-tab-header {
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  width: 100%;
  background-color: white;
}

.vs-tab-header.vs-tab-header-floating {
  position: fixed;
  box-shadow: 0 1px 2px 0 rgba(136,136,136,0.15);
}

.vs-tab-label {
  border-right: 1px solid #e1e1e1;
  padding-bottom: 4px;
  background-color: #fff;
  transition: 0.2s color ease-in-out;
  user-select: none;
  display: flex;
}

.vs-tab-label.vs-tab-label-disabled {
  color: #cecece;
  background-color: white;
}

.vs-tab-label.vs-tab-label-clicked  {
  color: #333;
  padding-bottom: 0px;
}

.vs-tab-label-content.standard {
  padding: 12px 32px 8px;
  text-align: center;
}

.vs-tab-content.standard {
  padding: 16px;
}
