.vs-dialog-layout-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 64px;
  padding: 0 16px;
  background: #4d5051;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 20;
}

.vs-dialog-layout-page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vs-dialog-layout-logo-title-container {
  display: flex;
  align-items: center;
}

.vs-dialog-layout-page-title .vs-dialog-layout-logo-container {
  display: inline-block;
  margin-right: 12px;
}
.vs-dialog-layout-page-title .vs-cj-logo {
  width: 40px;
  height: 40px;
  fill: #fff;
}

.vs-dialog-layout-page-title .vs-dialog-layout-title {
  display: inline-block;
  margin: 0;
  font-size: 2rem;
  color: #fff;
}

.vs-dialog-layout-page-title .vs-dialog-layout-icon-close {
  float: right;
  margin-top: 4px;
  width: 32px;
  height: 32px;
  fill: #fff;
  opacity: 0.6;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}
.vs-dialog-layout-page-title .vs-dialog-layout-icon-close:hover {
  opacity: 1;
  fill: #fff;
}

.vs-dialog-layout-content {
  position: relative;
  margin: 0 auto;
  z-index: 10;
}

.vs-dialog-layout-content p {
  max-width: 580px;
}

.vs-dialog-layout-content-normal {
  max-width: 800px;
  padding: 112px 24px 24px;
}

.vs-dialog-layout-content-wide {
  max-width: 100%;
  padding: 112px 48px 48px;
}

.vs-dialog-layout-button-bar .vs-text-btn {
  color: #fff;
  opacity: 0.64;
}
.vs-dialog-layout-button-bar .vs-text-btn:hover {
  color: #fff;
  opacity: 1;
}

.vs-dialog-layout-button-bar {
  text-align: right;
  float: right;
  display: inline-block;
}

.vs-dialog-layout-button-bar .vs-btn-d {
  margin: 0 0 0 8px;
}
