div.vs-react-select-creatable__input input {
  margin-bottom: 0px;
  padding: 0px;
}

div.vs-react-select-creatable__input input:focus {
  box-shadow: none;
  border: none;
}

div.vs-default-react-select-creatable {
  margin-bottom: 8px;
}

div.vs-react-select-async__control,
div.vs-react-select-creatable__control {
  height: 32px;
  min-height: 32px;
}

div.vs-default-react-select-creatable__control--is-focused,
div.vs-default-react-select-creatable__control--is-focused:hover,
div.vs-react-select-creatable__control--is-focused,
div.vs-react-select-creatable__control--is-focused:hover {
  outline: 1px solid #979c9f;
  border-color: #979c9f;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.vs-react-select-async__value-container,
.vs-react-select-async__value-container--is-multi,
.vs-react-select-creatable__value-container div {
  font-size: 1.3rem;
  line-height: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
}

div.vs-react-select-creatable__value-container {
  padding-top: 0px;
  padding-bottom: 0px;
}

div.vs-react-select-creatable__placeholder {
  font-size: 1.3rem;
  line-height: 1.4rem;
}

div.vs-react-select-creatable__indicator {
  padding: 6px;
}

div.vs-react-select-creatable__indicator svg {
  position: relative;
  top: -1px;
  width: 16px;
  transition: 0.2s all ease-in-out;
}

div.vs-react-select-creatable__option {
  padding: 6px 12px;
  word-break: break-all;
}

div.vs-react-select__control:hover div.vs-react-select__dropdown-indicator svg {
  color: #333;
}

div.vs-react-select-creatable__control.vs-react-select-creatable__control--is-disabled,
div.vs-react-select-creatable__control[disabled] {
  color: #888;
  cursor: not-allowed;
  background-color: #eee;
  border-color: #e1e1e1;
}

div.vs-react-select-creatable__option--is-focused {
  background-color: #f5f5f5;
}

div.vs-react-select-creatable__option:active,
div.vs-react-select-creatable__option--is-focused:active {
  background-color: #f5f5f5;
}

div.vs-react-select-creatable__option.vs-react-select-creatable__option--is-selected,
div.vs-react-select-creatable__option.vs-react-select-creatable__option--is-selected:active {
  background-color: #f5f5f5;
  color: #333;
}

div.vs-react-select-creatable__multi-value {
  background-color: #6d7684;
  border-radius: 2px;
  color: #fff;
  height: 24px;
  line-height: 1.6;
  margin: -2px 4px 0 0;
  max-width: 200px;
  padding: 2px 22px 2px 6px;
  position: relative;
  vertical-align: middle;
  white-space: wrap;
}

div.vs-react-select-creatable__multi-value:first-child {
  margin-left: -4px;
}

div.vs-react-select-creatable__multi-value__label {
  white-space: nowrap;
  text-overflow: ellipsis;
  color: inherit;
  font-size: 1.2rem;
}

div.vs-react-select-creatable__multi-value__remove:hover {
  background-color: #8791a1;
  color: white;
}

div.vs-react-select-creatable__multi-value__remove {
  margin-left: 2px;
  position: absolute;
  right: 4px;
  top: 5px;
}
